.container {
  height: 92.5vh;
  width: 80vw;
  border-radius: 50px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.texts {
  padding: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
  color: aliceblue;
}

h3 {
  font-size: 3rem;
  color: aliceblue;
}

p {
  font-size: 1.5rem;
  color: aliceblue;
}