* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  background-image: url("./assets/keyboard.jpg");
  background-size: cover;
}