* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: transparent;
  background-image: url("./assets/keyboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div.navbar > nav {
  margin: 30px;
}

.sidecard {
  top: 3.5vh;
  left: 3.5vw;
}